<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shxt.module.record.model.StudentExamnation">
	<select id="list" resultType="com.shxt.module.record.model.StudentExamnation">
		SELECT id,student_id,examnation_id,scores,time,state FROM student_examnation
	</select>
	<select id="one" resultType="com.shxt.module.record.model.StudentExamnation">
		SELECT id,student_id,examnation_id,scores,time,state FROM student_examnation WHERE id = #{id}
	</select>
	<select id="search_one" resultType="com.shxt.module.record.model.StudentExamnation">
		SELECT id,student_id,examnation_id,scores,time,state FROM student_examnation WHERE student_id = #{student_id} AND examnation_id = #{examnation_id}
	</select>
	<select id="search_student" resultType="com.shxt.module.record.model.StudentExamnation">
		SELECT id,student_id,examnation_id,scores,time,state FROM student_examnation WHERE student_id = #{student_id}
	</select>
	<select id="search_examnation" resultType="com.shxt.module.record.model.StudentExamnation">
		SELECT id,student_id,examnation_id,scores,time,state FROM student_examnation WHERE examnation_id = #{examnation_id} ORDER BY scores DESC
	</select>
	<insert id="add">
		INSERT INTO student_examnation(id,student_id,examnation_id,scores,time) VALUES(#{id},#{student_id},#{examnation_id},#{scores},#{time})
	</insert>
</mapper>
